.Bible-bg{
  background-image: url("Image/Bible\ study.png");
  height: 80%;
  padding-top: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Log-bg{
  height: 100%;
  padding-top: 8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0f7fa;
}
.log-form{
  border: 2px solid white;
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 8px 8px 20px rgba(233, 232, 232, 0.356);
}
.form-bg h3{
  font-size: 35px;
  font-family: 'Lobster', cursive;
  color: crimson;
}
.form-bg p{
  color: white;
}
.BS-content{
  height: 80%;
  padding-top: 12%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid white;
}
.BS-p{
  font-size: 20px;
  color: #e0f7fa;
}
.BS-footer{
  margin-left: 20px;
  height: 30%;
  padding-top: 2%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 12px;
}
